.bottom-widget {
    width: 26rem;
    height: 12rem;
    border-radius: 10px;
    background-color: rgb(58, 64, 71);
    padding-block: .5rem;
    padding-inline: .3rem;
    display: flex;
    position: relative;
    overflow: hidden;
}

.buttons-container {
    padding-top: .2rem;
    height: 3rem;
    width: 23rem;
}

.layer-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: .5rem;
}

.gallery {
    height: 1.9rem;
    width: 5.5rem;
    background-color: black;
    text-align: center;
    padding-top: .4rem;
    /* align-content: center; */
    border-radius: 13px;
    font-size: .9rem;
}

.layer-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.2rem;
}

.add-image {
    height: 1.8rem;
    width: 5rem;
    border-radius: 25px;
    border: none;
    font-size: .468rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 77, 85);
    ;
    box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.377), 4px 5px 5px rgba(10, 10, 10, 0.849);
}

.add {
    height: 10px;
    margin-right: -5px;
}

.layer-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .6rem;
}

.arrow-button {
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: rgb(41, 43, 53);
    box-shadow: -2px -1px 10px rgba(245, 245, 245, 0.247);
}

.arrow {
    height: 1.1rem;
    font-weight: 100;
    color: rgb(136, 136, 136);
}

.bw-image-container {
    height: 8.2rem;
    width: 22rem;
    margin-left: .3rem;
    overflow: scroll;
    padding: .6rem;
}

.image {
    height: 6.9rem;
    width: 7rem;
    border-radius: 15px;
    filter: grayscale(90%);
    align-self: flex-end;
    transition: filter .3s ease, scale .3s ease, rotate .3s ease, margin-top .3s ease, box-shadow .3s ease;
}

.image:hover{
    filter: none;
    rotate: -2deg;
    scale: 1.1;
    margin-top: -30px;
    box-shadow: 2px 2px 20px rgba(10, 10, 10, 0.897);
}


.scroller {
    height: 8.2rem;
    width: 400rem;
    display: flex;
    gap: .68rem;
    margin-top: -10px;
    /* align-self: flex-end; */
    /* padding-left: .5rem; */
}

.bw-image-container::-webkit-scrollbar {
    display: none;
}